.idea/.name
.idea/encodings.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/modules/int_main.iml
.idea/modules/int_test.iml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
*.iml
.gradle
out/
build/
gen/
deps/
.DS_Store
