/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/libraries/*
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/int_main.iml
/.idea/modules/int_test.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
.gradle
out/
build/
gen/
deps/
.DS_Store
